In [1]:
import os
from dotenv import load_dotenv
import pymysql

In [2]:

load_dotenv(dotenv_path="../.env")
# Leer credenciales desde .env
DB_USER = os.getenv("MYSQL_USER")
DB_PASSWORD = os.getenv("MYSQL_PASSWORD")
DB_HOST = os.getenv("MYSQL_HOST")
DB_NAME = os.getenv("MYSQL_DATABASE")
DB_PORT = os.getenv("MYSQL_PORT")

In [14]:
db = pymysql.connect(host = os.getenv('MYSQL_HOST'),
                     user = os.getenv('MYSQL_USER'),
                     password = os.getenv('MYSQL_PASSWORD'),
                     cursorclass = pymysql.cursors.DictCursor
)

cursor = db.cursor()

In [15]:
cursor.execute('SELECT VERSION()')
version = cursor.fetchone()
print(f'MySQL version: {version}')

MySQL version: {'VERSION()': '8.0.39'}

In [ ]:
# create_db = '''CREATE DATABASE country_database'''
# cursor.execute(create_db)

# drop_db = '''DROP DATABASE country_database'''
# cursor.execute(drop_db)

0

In [16]:
cursor.execute('SHOW DATABASES')
cursor.fetchall()

[{'Database': 'WordPlay'},
 {'Database': 'information_schema'},
 {'Database': 'mysql'},
 {'Database': 'performance_schema'},
 {'Database': 'sys'}]

In [17]:
cursor.connection.commit()
use_db = ''' USE WordPlay'''
cursor.execute(use_db)

0

In [18]:
cursor.execute("SHOW TABLES")

# Obtener todos los resultados (nombres de las tablas)
tables = cursor.fetchall()
tables

[{'Tables_in_WordPlay': 'word_learned_table'},
 {'Tables_in_WordPlay': 'word_new_table'}]

In [79]:
insert_data = '''
INSERT INTO word_new_table (word)
VALUES ('XXX')
'''
cursor.execute(insert_data)

1

In [19]:
sql = '''SELECT * FROM word_new_table'''
cursor.execute(sql)
mi_lista = cursor.fetchall()
mi_lista

[{'id': 1, 'word': 'hello2'}]

In [20]:
sql = '''SELECT * FROM word_learned_table'''
cursor.execute(sql)
mi_lista = cursor.fetchall()
mi_lista

[{'id': 10, 'word': 'hello jaja'},
 {'id': 12, 'word': 'hello2 jaja'},
 {'id': 8, 'word': 'hellojaja'},
 {'id': 17, 'word': 'XXX'}]